.info {
    a {
        color: black;
        text-decoration: underline;
        &:hover {
            color: gray !important;
        }
        &:visited {
            color: black;
        }
    }
    h1, h2 {
        text-align: center;
    }
    p {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        text-align: justify;
    }
}


.page {
    padding: 10px;
    margin: auto;
}
.content {
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    .posts {
        margin-left: 20px;
    }
}
.column {
    width: 80px;
    display: inline-block;
    margin: 0 5px 5px 0;
    padding: 0;
    text-align: left;
    float: left;
    img {
        width: 100%;
        margin: 0;
        padding: 0;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
    }
}
.buttons {
    margin: 10px;
    text-align: center;
    button {
        margin: 20px;
    }
}