.column {
    width: 80px;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
    text-align: left;
    float: left;
    img {
        width: 100%;
        margin: 0;
        padding: 0;
        display: inline-block;
        &:hover {
            cursor: pointer;
        }
    }
}